/* RECURSO SHARE - Compartir en redes sociales
--------------------------------------------------------------------------------------------------*/

.sg-share ul {
	margin: 0;
}
.sg-share ul li {
	vertical-align: middle;
}
.sg-share ul li p {
	margin: 0;
}
.sg-share ul li .redes {
	display: block;
	text-indent: -9999px;
	-webkit-transition: background-position 0.4s ease;
	-moz-transition: background-position 0.4s ease;
	-ms-transition: background-position 0.4s ease;
	-o-transition: background-position 0.4s ease;
	transition: background-position 0.4s ease;
}
.sg-share ul.icons32 li {
	padding-left: 3px;
	padding-right: 3px;
}
.sg-share ul.icons16 li {
	padding-left: 2px;
	padding-right: 2px;
}
.sg-share ul.icons32 li .redes {
	background-image: url("../images/share-sprite-32x32.png");
	width: 32px;
	height: 32px;
}	

.sg-share ul.icons16 li .redes {
	background-image: url("../images/share-sprite-16x16.png");
	width: 16px;
	height: 16px;
}				

/* 32x32 -----------------------------------*/	
				
.sg-share ul.icons32 li a.facebook {
	background-position: 0 32px;
}
.sg-share ul.icons32 li a.facebook:hover,
.sg-share ul.icons32 li a.facebook:focus {
	background-position: 0 64px;
}

.sg-share ul.icons32 li a.twitter {
	background-position: 0 96px;				
}
.sg-share ul.icons32 li a.twitter:hover,
.sg-share ul.icons32 li a.twitter:focus {
	background-position: 0 128px;					
}

.sg-share ul.icons32 li a.google {
	background-position: 0 160px;				
}

.sg-share ul.icons32 li a.google:hover,
.sg-share ul.icons32 li a.google:focus {
	background-position: 0 192px;					
}

.sg-share ul.icons32 li a.pinterest {
	background-position: 0 224px;				
}

.sg-share ul.icons32 li a.pinterest:hover,
.sg-share ul.icons32 li a.pinterest:focus {
	background-position: 0 256px;					
}

.sg-share ul.icons32 li a.linkedin {
	background-position: 0 288px;				
}

.sg-share ul.icons32 li a.linkedin:hover,
.sg-share ul.icons32 li a.linkedin:focus {
	background-position: 0 320px;					
}

.sg-share ul.icons32 li a.sendmail {
	background-position: 0 352px;				
}

.sg-share ul.icons32 li a.sendmail:hover,
.sg-share ul.icons32 li a.sendmail:focus {
	background-position: 0 384px;					
}

.sg-share ul.icons32 li a.delicious {
	background-position: 0 416px;				
}

.sg-share ul.icons32 li a.delicious:hover,
.sg-share ul.icons32 li a.delicious:focus {
	background-position: 0 448px;					
}

/* 16x16 -----------------------------------*/	
				
.sg-share ul.icons16 li a.facebook {
	background-position: 0 16px;
}
.sg-share ul.icons16 li a.facebook:hover,
.sg-share ul.icons16 li a.facebook:focus {
	background-position: 0 32px;
}

.sg-share ul.icons16 li a.twitter {
	background-position: 0 48px;				
}
.sg-share ul.icons16 li a.twitter:hover,
.sg-share ul.icons16 li a.twitter:focus {
	background-position: 0 64px;					
}

.sg-share ul.icons16 li a.google {
	background-position: 0 80px;				
}

.sg-share ul.icons16 li a.google:hover,
.sg-share ul.icons16 li a.google:focus {
	background-position: 0 96px;					
}

.sg-share ul.icons16 li a.pinterest {
	background-position: 0 112px;				
}

.sg-share ul.icons16 li a.pinterest:hover,
.sg-share ul.icons16 li a.pinterest:focus {
	background-position: 0 128px;					
}

.sg-share ul.icons16 li a.linkedin {
	background-position: 0 144px;				
}

.sg-share ul.icons16 li a.linkedin:hover,
.sg-share ul.icons16 li a.linkedin:focus {
	background-position: 0 160px;					
}

.sg-share ul.icons16 li a.sendmail {
	background-position: 0 176px;				
}

.sg-share ul.icons16 li a.sendmail:hover,
.sg-share ul.icons16 li a.sendmail:focus {
	background-position: 0 192px;					
}

.sg-share ul.icons16 li a.delicious {
	background-position: 0 208px;				
}

.sg-share ul.icons16 li a.delicious:hover,
.sg-share ul.icons16 li a.delicious:focus {
	background-position: 0 224px;					
}
